$active: none;
$focus:none;
// $hover:#000010;

$ac: #97471B; //8
$brown: #78513B; //6
$brown2: #ebbd7e; //2
$brown3: #f9d391; //1
$brown4: #ffd082; //1
$brown5: #FFE1B0; //1

$red:#FF0000; //1
$red2:#d73838; //1
$green:#4ca059; //1
$green2:#2B8539; //1

$blue:#88e1f2;
$blue2:#9fcfe7;

$white: #FFFFFF;
$white2: #fafafa;

$gray: #5D5E6A; //1
$gray2: #cecece; //1
$gray3: #cccccc; //1


$black: #000000;
$black2: #141414; //3
$black3: #21243d; //3
$black4: #333333; //3
$black5: #2A1F19; //3