@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

// uk

// pedigree текст или список
// prices список из списков
// prices__period п надо илим нет
// recommendations сократить название и переименовать папку

// посмотреть про калк в курсе вейб
// виддио винес
// поменять цвет на кнопке

// протестить что вас интересует потом 

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px 15px 15px;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__box {
        margin-right: 40px;
    }

    &__links {
        @include line-height(16, 25, px, );
    }

    &__links span {
        color: rgba(0, 0, 0, 0.3);
        margin-right: 20px;
    }

    &__link {
        text-decoration: revert;
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: rgb(151, 71, 27);

        }

        &:active {
            color: $active;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__tel {
        @include line-height(20, 30, px, );
        text-decoration: revert;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: rgb(151, 71, 27);

        }

        &:active {
            color: $active;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__mail {
        color: rgba(93, 94, 106);
        @include line-height(18, 28, px, );
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: rgb(151, 71, 27);
        }

        &:active {
            color: $active;
        }
    }

    &__link {}

    &__logo {}
}



.menu {
    &__btn {
        display: none;
    }

    &__items {
        gap: 30px;
        display: flex;
        justify-content: center;
    }

    &__item {}

    &__link {
        transition: color 0.5s;
        color: rgb(20, 20, 20);

        &:focus {
            color: $focus;
        }

        &:hover {
            color: rgb(151, 71, 27);
        }

        &:active {
            color: $active;
        }
    }

    &__link--active {}
}


.intro {
    background-image: url('../images/intro-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: calc(57vh + 150px);
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

    // height: 100vh;

    &__box {
        max-width: 650px;
        // text-align: center;
    }

    &__title {
        margin-bottom: 80px;
        @include line-height(28, 35, px, );
    }

    &__title span {
        color: rgb(151, 71, 27);
    }

    &__btn {
        display: flex;
        margin: 0 auto;
        padding: 18px 30px;
    }
}

.reviews {
    background: rgb(250, 250, 250);

    &__title {
        color: rgb(120, 81, 59);
        @include adaptiveValue("margin-bottom", 30, 20);
        font-size: 36px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        background: #FFFFFF;
        padding: 40px 30px;
        width: 570px; // !!!
        height: 445px; // !!!
        text-align: center;
    }

    &__name {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 15px;
        color: #cecece;
    }

    &__btn {
        padding: 18px 30px;
    }

    &__video {
        margin-bottom: 20px;
        height: 280px;
    }
}

// возможно отценторовать блок
.service {
    background-image: url('../images/service-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(21, 9, 3, 0.91);
        z-index: -1;
        // правильно затемнить
    }

    &__box {
        display: flex;
        margin-bottom: 40px;
    }

    &__title {
        color: rgb(235, 189, 126);
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        // padding-left: 50px;
        // padding-right: 50px;
        @include adaptiveValue("padding-left", 50, 20);
        @include adaptiveValue("padding-right", 50, 20);


        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgb(204, 204, 204);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 0;
    }

    &__item {
        width: 50%;
        max-width: 470px;
    }

    &__subtitle {
        color: rgb(249, 211, 145);
        @include line-height(30, 39, px, );
        margin-bottom: 30px;
    }

    &__text {
        @include line-height(20, 32, px, );
        color: rgba(255, 255, 255, 0.7);
    }
}

//!!! наверное нельзя так секции называть
.history {
    background-image: url('../images/study-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    // записать эти своиства!!!!!

    &__box {
        max-width: 645px;
        margin-left: auto;
    }

    &__title {
        color: rgb(151, 71, 27);
        margin-bottom: 40px;
        font-size: 34px;
    }

    &__text {}

    &__text p {
        margin-bottom: 80px;
        @include line-height(20, 32, px, );
    }

    &__text span {
        margin-bottom: 50px;
        color: rgb(151, 71, 27);
        @include line-height(28, 36, px, );
        margin-bottom: 90px;
        display: block;
    }

    &__btn {
        padding: 18px 30px;
    }
}

// название кортинки другое!!!
// секция или нет
.pedigree {
    background-image: url('../images/study-you-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(30, 30, 35, 0.85);
        z-index: -1;

    }

    &__box {
        padding-left: 170px;
        // max-width: 850px;
    }

    &__title {
        color: rgb(255, 208, 130);
        @include line-height(33, 46, px, );
        margin-bottom: 20px;
    }

    &__items {}

    &__item {
        color: rgb(255, 255, 255);
        @include line-height(20, 32, px, );
        margin-bottom: 10px;
    }

    &__item span {
        color: rgb(76, 160, 89);
        font-size: 29px;
    }
}

.about {
    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 95px;
    }

    &__title {
        color: rgb(235, 189, 126);
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        // padding-left: 50px;
        // padding-right: 50px;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgb(204, 204, 204);
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        gap: 0 50px;
        padding-bottom: 90px;
    }

    &__right,
    &__left {
        max-width: 370px;
    }

    &__img {
        width: 370px;
        height: 440px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__name {
        font-weight: 700;
        @include line-height(28, 39, px, );
        margin-bottom: 60px;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 222px;
            display: inline-block;
        }
    }

    &__svg {
        border-radius: 50%;
        margin: 0 auto 30px auto;
        display: flex;
    }

    &__text {
        color: rgb(93, 94, 106);
        @include line-height(18, 28, px, );
        text-align: center;
        max-width: 325px;
    }

    &__subtext {
        @include line-height(22, 29, px, );
        padding: 40px 0px;
        border-bottom: 1px solid rgba(33, 36, 61, 0.2);
        border-top: 1px solid rgba(33, 36, 61, 0.2);
        // записать потом как задть бордеры опасити!!!!!
        position: relative;
    }

    &__icons {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        width: 70px;
        height: 50px;
    }

    &__icon {
        margin: 0 auto;
        max-width: 50px;
        display: flex;
        // много флекс подумать!!!
    }

    &__subtext p {
        max-width: 680px;
        margin: 0 auto;
        display: flex;
        text-align: center;
    }
}


// оптимизировать и списки из списков
.prices {
    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 85px;
    }

    &__title {
        color: rgb(120, 81, 59);
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        // padding-left: 50px;
        // padding-right: 50px;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgb(33, 36, 61);
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__wrap {
        max-width: 370px;
    }

    &__wraps {
        text-align: center;
    }

    &__subtitle {
        font-size: 27px;
        margin-bottom: 20px;
    }

    &__period {
        @include line-height(22, 27, px, );
        margin-bottom: 30px;
        text-align: center;
    }

    &__caption {
        color: rgb(51, 51, 51);
        @include line-height(18, 28, px, );
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__prices {
        color: #21243d;
        @include line-height(30, 38, px, );
        font-weight: 700;
        margin-bottom: 60px;
    }

    &__items {
        margin-bottom: 30px;

        &--goal {
            margin-bottom: 100px;
        }
    }

    &__item {
        color: rgb(51, 51, 51);
        @include line-height(18, 28, px, );
        margin-bottom: 5px;
    }

    &__text {
        color: rgb(51, 51, 51);
        margin-bottom: 30px;
    }

    &__text p {
        @include line-height(17, 27, px, );
        margin-bottom: 40px;
    }

    &__text span {
        text-align: center;
        @include line-height(20, 32, px, );
        display: block;
    }
}

// это не список
// сделать одинаковые отступы у титулов
.results {
    background-image: url('../images/results.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $white;
    // height: 100vh;

    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 85px;
    }

    &__title {
        color: rgb(255, 208, 130);
        font-size: 40px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        // padding-left: 50px;
        // padding-right: 50px;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgba(255, 255, 255),
        }
    }


    &__items {
        margin-bottom: 110px;
        max-width: 750px;
    }

    &__item {
        color: rgb(255, 255, 255);
        @include line-height(20, 32, px, );
        margin-bottom: 5px;
    }

    &__link {
        color: rgb(136, 225, 242);
        text-decoration: revert;
    }

    &__text {
        margin-bottom: 100px;
    }

    &__text p {
        color: rgb(255, 208, 130);
        font-weight: 700;
        font-size: 24px;
        max-width: 545px;
        margin-bottom: 15px;
    }

    &__text span {
        color: rgb(206, 206, 206);
        @include line-height(20, 32, px, );
    }

    &__video {
        max-width: 770px;
        height: 445px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

// возможно список из списков
// много оберток и сделать грид на одной своитвом
.guarantees {
    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__title {
        color: rgb(120, 81, 59);
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        // padding-left: 50px;
        // padding-right: 50px;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgba(33, 36, 61, 0.5);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__right,
    &__left {
        max-width: 565px;
        gap: 40px;
        display: grid;
        width: 100%;
    }

    &__item {
        padding: 40px 20px;
        background-color: rgb(255, 225, 176);
        border-radius: 6px;

        &--honesty {
            background-color: #21243D;
        }
    }

    &__inner {
        display: flex;
        justify-content: start;
        // старт что бы не ломался записать
        gap: 15px;
    }

    &__icon {
        background-color: #21243D;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--honesty {
            background-color: rgb(255, 225, 176);

        }
    }

    &__svg {
        // background-color: red;

    }

    &__wrap {
        max-width: 390px;
    }

    &__subtitle {
        margin-bottom: 10px;
        color: rgb(33, 36, 61);
        font-size: 24px;

        &--honesty {
            // background-color: #21243D;
            color: $white;
        }
    }

    &__text {
        color: rgb(93, 94, 106);
        @include line-height(18, 28, px, );

        &--honesty {
            color: rgb(159, 207, 231);
        }
    }
}

.recommendations__wrappers {
    overflow: hidden;
    position: relative;
    // !!!
}

// доделать ховер почистить и заполнить html
// перекопировать стили стрелок
.recommendations {
    background-image: url('../images/recommendations-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        background: rgba(35, 29, 20, 0.71);
        z-index: -1;
    }

    &__title {
        color: rgb(255, 208, 130);
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__box {
        text-align: center;
    }

    &__wrapper {
        max-width: 740px;
        margin: 0 auto;
        // position: relative;
    }

    &__img {
        object-fit: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        max-width: 120px;
        margin: 0 auto 20px;
        display: flex;
    }

    &__subtitle {
        color: rgb(255, 208, 130);
        font-size: 24px;
        margin-bottom: 30px;
    }

    &__svg {
        border-radius: 50%;
        margin-bottom: 20px;
    }

    &__text {
        color: rgb(255, 255, 255);
        // @include line-height(18, 28, px,);
    }
}

.slider-casey__items {
    height: 560px;
}

.slider-casey__wrapper {
    overflow: hidden;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px;
    z-index: 1;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: $white;
    top: 50%;
    opacity: 0.8;
    transition: opacity 0.5s;

    // @media (max-width: 1200px) {
    //     top: 5%;
    // }

    // @media (max-width: 992px) {
    //     top: 20px;
    // }

    &:focus {
        color: $focus;
    }

    &:hover {
        opacity: 1;

    }

    &:active {
        color: $active;
    }
}

.faq {
    background: rgba(255, 246, 230, 0.53);
    background-image: url('../images/faq-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 246, 230, 0.53);
        z-index: -1;
    }


    &__title {
        color: rgb(120, 81, 59);
        text-align: center;
        font-size: 42px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    &__accordion {
        user-select: none;
        position: relative;
        padding-right: 10px;
        margin-bottom: 50px;

        // @media (max-width: 768px) {
        //     margin-bottom: 25px;
        //     max-width: 100%;
        // }

        // @media (max-width: 576px) {
        //     margin-bottom: 20px;
        //     padding-right: 0px;
        // }
    }

    &__item {
        padding: 20px 0px;
        cursor: pointer;
        border-bottom: 1px solid rgba(33, 36, 61, 0.2);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        color: rgb(33, 36, 61);
        font-size: 24px;
        padding-right: 15px;
    }

    &__box {
        user-select: none;
        position: relative;
        padding-right: 10px;
        width: 14px;
        height: 14px;

        &::before,
        &::after {
            height: 14px;
            width: 2px;
            content: '';
            position: absolute;
            margin: auto;
            background-color: $hover;
            transition: all 2s;

            @media (max-width: 576px) {
                height: 18px;
            }
        }

        &::before {
            transform: rotate(270deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    .active .faq__box:after {
        transform: rotate(90deg);
    }

    &__text {
        color: rgb(93, 94, 106);
        @include line-height(18, 28, px, );
    }

    &__btn {
        padding: 18px 30px;
        margin: 0 auto;
        max-width: 200px;
        display: flex;
    }
}

// jpeg отдельно
.footer {
    background-image: url('../images/footer-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        background: rgba(255, 255, 255, 0.75);
        z-index: -1;
    }

    &__city {
        color: rgb(20, 20, 20);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    &__box {}

    &__link {
        font-size: 22px;
        text-decoration: revert;
        margin-bottom: 20px;
        display: block;
        transition: background-color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: rgb(151, 71, 27);
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: rgb(120, 81, 59);
        font-size: 16px;
        margin-bottom: 40px;
    }

    &__copy {
        color: rgb(120, 81, 59);
        text-align: center;
    }
}

.social {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 10px;

    &__youtube,
    &__link {
        transition: color 0.5s,
            opacity 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }

    &__youtube,
    &__svg {
        border-radius: 50%;
    }

    &__youtube {
        background-color: red;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.modal {
    position: fixed;
    // top: 17%;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4rem);
    transition: opacity 0.5s,
        overflow 0.5s;
    opacity: 0;
    // z-index: 100;
    z-index: -100;

    &__inner {
        background-image: url('../images/modal-bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        max-width: 770px;
        padding: 30px 100px 80px 100px;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            z-index: -1;
        }
    }

    &__box {
        // max-width: 485px;
    }

    &__button {
        display: none;
    }

    &-window {}

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
        text-align: center;
        margin-bottom: 80px;
        color: rgb(20, 20, 20);
    }

    &__form {}
}

.modal-open {
    opacity: 1;
    z-index: 999;
    // z-index: 300;
    // overflow: hidden;
}

.form {
    max-width: 485px;

    &__label {
        color: rgb(93, 94, 106);
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px;
        display: block;

        &--checkbox {
            margin-bottom: 10px;
        }

        &--radio {
            display: block;
            margin-bottom: 20px;
        }
    }

    &__input {
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.29);
        border-top: none;
        border-left: none;
        border-right: none;
        display: block;
        // border: none;
        background-color: rgba(33, 36, 61, 0.07);
        width: 480px;
        // padding: 20px;
        padding: 13px 20px 13px 20px;
        // сделать снипеты бордеров с вариацими
    }

    &__text {
        color: rgb(93, 94, 106);
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px;
    }

    &__label--checkbox {}

    &__checkbox {}

    &__btn {
        color: rgb(255, 255, 255);
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        background-color: rgb(43, 133, 57);
        border: none;
        padding: 15px 26px;
    }
}

.jq-radio.checked .jq-radio__div {
    margin: 2px 0 0 2px;
}

.jq-radio .form__radio {
    // color: rgb(93, 94, 106)
    color: rgba(93, 94, 106, 0.54);

}

.jq-radio {
    border: 2px solid rgba(93, 94, 106, 0.54);
    // не актив
}

// .jq-radio .form__radio .checked {
//      border: 2px solid red;
// }

.jq-checkbox,
.jq-radio {
    // border: 2px solid rgba(93, 94, 106);
    // актив
}

.jq-radio .form__radio .checked {
    border: 2px solid red !important;
}

// .jq-radio__div {
//     color: red;
//     background-color: red;
// }

.jq-radio.checked .jq-radio__div {
    background: rgb(93, 94, 106);
    width: 8px;
    height: 8px;
}


.jq-radio .form__radio {
    color: rgb(93, 94, 106);
}

.form__label {
    display: block;
}

@import 'media';