@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mexins';
@import 'global';
@import 'libs';

// скролл норм
// фокусы норм
// валидатор норм
// 0 у пх обнулил
// js +- чисто
// ---------------

// подписал цифрами svg id
// виддио винес
// адаптировал текст 18 в др нет
// проблемма флекса 768 там где много колонок
// много текста в слайдере решил оставить как есть 


// ---------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px 15px 15px;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            padding-top: 150px;
        }

        @media (max-width: 768px) {
            padding-top: 0;
        }
    }

    &__box {
        @include adaptiveValue("margin-right", 40, 20);

        @media (max-width: 1200px) {
            display: grid;
        }

        @media (max-width: 992px) {
            text-align: center;
            margin-right: 0;
        }
    }

    &__links {
        @include line-height(16, 25, px, );

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    &__links span {
        color: rgba(0, 0, 0, 0.3);
        margin-right: 20px;

        @media (max-width: 992px) {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__link {
        text-decoration: revert;
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        transition: color 0.5s;
        outline-offset: 5px;

        @media (max-width: 992px) {
            display: block;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: 992px) {
                margin-right: 0;
            }
        }
    }

    &__tel {
        @include line-height(20, 30, px, );
        text-decoration: revert;
        transition: color 0.5s;

        @media (max-width: 992px) {
            margin-bottom: 20px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: 992px) {
                margin-right: 0;
            }
        }
    }

    &__mail {
        color: $silver;
        @include line-height(18, 28, px, );
        transition: color 0.5s;

        @media (max-width: 992px) {
            margin-bottom: 20px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__logo {
        margin-right: 20px;
        z-index: 10;
    }

    &__mobile {
        display: none;

        @media (max-width: 992px) {
            display: block;
            padding: 20px 15px 15px 15px;

            @media (max-width: 576px) {
                padding: 20px 0 15px 0;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner {
        @media (max-width: 992px) {
            transform: translateY(-200%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            transition: opacity 0.5s;
            opacity: 0;
            z-index: -100;

            &.header__inner--active {
                transform: translateY(0%);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    &__btn {
        width: 30px;
        height: 22px;
        position: relative;
        border: none;
        display: flex;
        background-color: transparent;
        padding: 0;
        z-index: 200;

        &.active span {
            transform: scale(0);
        }

        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }

        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }

        span {
            height: 3px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
        }

        &::before {
            top: 42%;
        }

        &::after {
            bottom: 0;
        }
    }
}

.header-fixed {
    background-color: $white;
    border-bottom: 1px solid rgba(33, 36, 61, .2);
}

.menu {
    &__btn {
        display: none;
    }

    &__items {
        gap: 30px;
        display: flex;
        justify-content: center;

        @media (max-width: 576px) {
            display: block;
            text-align: center;
        }
    }

    &__item {
        @media (max-width: 576px) {
            width: 100%;
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__link {
        transition: color 0.5s;
        color: $black2;

        @media (max-width: 576px) {
            display: block;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }
}

.intro {
    background-image: url('../images/intro-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 1200px) {
        height: 100vh;
        justify-content: center;
    }

    @media (max-width: 992px) {
        padding-top: 120px;
        height: 100%;
        padding-bottom: 50px;
    }

    &__menu {
        margin-bottom: 110px;

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }
    }

    &__box {
        max-width: 650px;
    }

    &__title {
        margin-bottom: 105px;
        @include line-height(28, 35, px, );

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__title span {
        color: $ac;
    }

    &__btn {
        display: flex;
        margin: 0 auto;
        padding: 18px 30px;
        @include adaptiveValue("padding-bottom", 18, 10);
        @include adaptiveValue("padding-top", 18, 10);
        @include adaptiveValue("padding-left", 30, 10);
        @include adaptiveValue("padding-right", 30, 10);
    }
}

.reviews {
    background: $white2;

    &__title {
        color: $brown;
        @include adaptiveValue("margin-bottom", 30, 20);
        font-size: 36px;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: 33px;
        }

        @media (max-width: 992px) {
            font-size: 31px;
        }

        @media (max-width: 768px) {
            font-size: 28px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__item {
        background-color: $white;
        padding: 40px 30px;
        width: 570px;
        height: 445px;
        text-align: center;

        @media (max-width: 1200px) {
            width: 470px;
            height: auto;
            padding: 35px 27px;
        }

        @media (max-width: 992px) {
            padding: 0;
            width: 350px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 15px;
        color: $silver2;
    }

    &__btn {
        @include adaptiveValue("padding-bottom", 18, 10);
        @include adaptiveValue("padding-top", 18, 10);
        @include adaptiveValue("padding-left", 30, 10);
        @include adaptiveValue("padding-right", 30, 10);
    }

    &__video {
        margin-bottom: 20px;
        height: 280px;
    }
}

.service {
    background-image: url('../images/service-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(21, 9, 3, 0.91);
        z-index: -1;
    }

    &__box {
        display: flex;
        @include adaptiveValue("margin-bottom", 40, 20);

    }

    &__title {
        color: $brown2;
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        @include adaptiveValue("padding-left", 50, 20);
        @include adaptiveValue("padding-right", 50, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $silver3;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 0;

        @media (max-width: 576px) {
            gap: 30px 0;
        }
    }

    &__item {
        width: 50%;
        max-width: 470px;

        @media (max-width: 1200px) {
            width: 45%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__subtitle {
        color: $brown3;
        @include line-height(30, 39, px, );
        @include adaptiveValue("margin-bottom", 30, 20);

        @media (max-width: 1200px) {
            font-size: 28px;
        }

        @media (max-width: 992px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    &__text {
        @include line-height(20, 32, px, );
        color: rgba(255, 255, 255, 0.7);

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}

.history {
    background-image: url('../images/history.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;

    @media (max-width: 1200px) {
        height: 100%;
    }

    &__box {
        max-width: 645px;
        margin-left: auto;

        @media (max-width: 992px) {
            max-width: 500px;
        }

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }

    &__title {
        color: $ac;
        @include adaptiveValue("margin-bottom", 40, 20);
        font-size: 32px;

        @media (max-width: 1200px) {
            font-size: 30px;
        }

        @media (max-width: 992px) {
            font-size: 28px;
        }

        @media (max-width: 768px) {
            font-size: 26px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__text p {
        @include line-height(20, 32, px, );
        @include adaptiveValue("margin-bottom", 80, 20);

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__text span {
        color: $ac;
        @include line-height(28, 36, px, );
        display: block;
        @include adaptiveValue("margin-bottom", 90, 20);

        @media (max-width: 1200px) {
            font-size: 26px;
        }

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
        }

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__btn {
        padding: 18px 30px;
        @include adaptiveValue("padding-bottom", 18, 10);
        @include adaptiveValue("padding-top", 18, 10);
        @include adaptiveValue("padding-left", 30, 10);
        @include adaptiveValue("padding-right", 30, 10);
    }
}

.pedigree {
    background-image: url('../images/pedigree.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(30, 30, 35, 0.85);
        z-index: -1;
    }

    &__box {
        padding-left: 170px;

        @media (max-width: 1200px) {
            padding-left: 0;
        }
    }

    &__title {
        color: $brown4;
        @include line-height(33, 46, px, );
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            font-size: 30px;
        }

        @media (max-width: 992px) {
            font-size: 28px;
        }

        @media (max-width: 768px) {
            font-size: 26px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__item {
        color: $white;
        @include line-height(20, 32, px, );
        margin-bottom: 10px;

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__item span {
        color: $green;
        font-size: 29px;

        @media (max-width: 1200px) {
            font-size: 26px;
        }

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
        }

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
}

.about {
    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 95px;
        @include adaptiveValue("margin-bottom", 95, 20);
    }

    &__title {
        color: $brown2;
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $silver3;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        @include adaptiveValue("padding-bottom", 90, 20);
        @include adaptiveValue("gap", 50, 20);

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__right,
    &__left {
        max-width: 370px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__img {
        width: 370px;
        height: 440px;
        object-fit: cover;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            height: 350px;
        }
    }

    &__name {
        font-weight: 700;
        @include line-height(28, 39, px, );
        text-align: center;
        position: relative;
        @include adaptiveValue("margin-bottom", 60, 20);

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 220px;
            display: inline-block;
        }
    }

    &__link {
        margin: 0 auto;
        @include adaptiveValue("margin-bottom", 30, 20);
        max-width: 30px;
        display: block;
        line-height: 0;
    }

    &__svg {
        border-radius: 50%;
        transition: opacity 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: $silver4;
        @include line-height(18, 28, px, );
        text-align: center;
        max-width: 325px;
    }

    &__subtext {
        @include line-height(22, 29, px, );
        @include adaptiveValue("padding-bottom", 40, 20);
        @include adaptiveValue("padding-top", 40, 20);
        border-bottom: 1px solid rgba(33, 36, 61, 0.2);
        border-top: 1px solid rgba(33, 36, 61, 0.2);
        position: relative;

        @media (max-width: 1200px) {
            font-size: 20px;
        }

        @media (max-width: 992px) {
            font-size: 19px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__wrap {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        width: 70px;
        height: 50px;

        @media (max-width: 768px) {
            top: -25%;
        }

        @media (max-width: 576px) {
            top: -18px;
            width: 35px;
            height: 35px;
        }
    }

    &__icon {
        margin: 0 auto;
        max-width: 50px;
        display: flex;

        @media (max-width: 576px) {
            width: 35px;
            height: 35px;
        }
    }

    &__subtext p {
        max-width: 680px;
        margin: 0 auto;
        text-align: center;
    }
}

.prices {
    &__box {
        display: flex;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 85, 20);
    }

    &__title {
        color: $brown;
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $black3;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width: 576px) {
            gap: 40px;
        }
    }

    &__wrap {
        max-width: 370px;

        @media (max-width: 1200px) {
            max-width: 30%;
        }

        @media (max-width: 992px) {
            max-width: 45%;
        }

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }

    &__inner {
        text-align: center;
    }

    &__subtitle {
        font-size: 27px;
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            font-size: 25px;
        }

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 23px;
        }

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    &__period {
        @include line-height(22, 27, px, );
        text-align: center;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__caption {
        color: $black4;
        @include line-height(18, 28, px, );
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__prices {
        color: $black3;
        @include line-height(30, 38, px, );
        font-weight: 700;
        @include adaptiveValue("margin-bottom", 60, 20);

        @media (max-width: 1200px) {
            font-size: 28px;
        }

        @media (max-width: 992px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    &__items {
        @include adaptiveValue("margin-bottom", 30, 20);

        &--goal {
            @include adaptiveValue("margin-bottom", 100, 20);
        }
    }

    &__item {
        color: $black4;
        @include line-height(18, 28, px, );
        margin-bottom: 5px;
    }

    &__text {
        color: $black4;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__text p {
        @include line-height(17, 27, px, );
        @include adaptiveValue("margin-bottom", 40, 20);
    }

    &__text span {
        text-align: center;
        @include line-height(20, 32, px, );
        display: block;

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}

.results {
    background-image: url('../images/results.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $white;

    &__box {
        display: flex;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 85, 20);
    }

    &__title {
        color: $brown4;
        font-size: 40px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        @media (max-width: 1200px) {
            font-size: 36px;
        }

        @media (max-width: 992px) {
            font-size: 33px;
        }

        @media (max-width: 768px) {
            font-size: 29px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $white;
        }
    }

    &__items {
        margin-bottom: 110px;
        max-width: 750px;
        @include adaptiveValue("margin-bottom", 110, 20);
        padding-left: 30px;

        @media (max-width: 768px) {
            max-width: 450px;
        }
    }

    &__item {
        color: $white;
        @include line-height(20, 32, px, );
        margin-bottom: 5px;

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__link {
        color: $blue;
        text-decoration: revert;
    }

    &__text {
        margin-bottom: 100px;
        @include adaptiveValue("margin-bottom", 100, 20);
    }

    &__text p {
        color: $brown4;
        font-weight: 700;
        font-size: 24px;
        max-width: 545px;
        margin-bottom: 15px;
    }

    &__text span {
        color: $silver2;
        @include line-height(20, 32, px, );

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__video {
        max-width: 770px;
        height: 445px;
        margin: 0 auto;
        margin-bottom: 20px;

        @media (max-width: 576px) {
            height: 350px;
        }
    }
}

.guarantees {
    &__box {
        display: flex;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 80, 20);
    }

    &__title {
        color: $brown;
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: rgba(33, 36, 61, 0.5);

            @media (max-width: 576px) {
                bottom: -10%;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        @media (max-width: 1200px) {
            gap: 20px;
        }

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__item {
        padding: 40px 30px;
        background-color: $brown5;
        border-radius: 6px;
        gap: 15px;
        display: flex;
        min-height: 100%;
        max-width: 565px;
        flex: 0 0 48%;

        @media (max-width: 1200px) {
            padding: 30px;
        }

        @media (max-width: 992px) {
            padding: 25px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            padding: 20px;
        }

        @media (max-width: 576px) {
            display: block;
        }

        &--honesty {
            background-color: $black3;
        }
    }

    &__icon {
        background-color: $black3;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }

        &--honesty {
            background-color: $brown5;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        margin-bottom: 10px;
        color: $black3;
        font-size: 24px;

        &--honesty {
            color: $white;
        }
    }

    &__text {
        color: $silver4;
        @include line-height(18, 28, px, );

        &--honesty {
            color: $blue2;
        }
    }
}

.recommendations {
    background-image: url('../images/recommendations-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        background-color: rgba(35, 29, 20, 0.71);
        z-index: -1;
    }

    &__title {
        color: $brown4;
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        @include adaptiveValue("margin-bottom", 50, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__wrapper {
        overflow: hidden;
        position: relative;
    }

    &__items {
        height: 560px;

        @media (max-width: 1200px) {
            height: 100%;
        }
    }

    &__box {
        text-align: center;
    }

    &__wrap {
        max-width: 740px;
        margin: 0 auto;

        @media (max-width: 992px) {
            max-width: 70%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__img {
        object-fit: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        max-width: 120px;
        margin: 0 auto 20px;
        display: flex;
    }

    &__subtitle {
        color: $brown4;
        font-size: 24px;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__link {
        transition: opacity 0.5s;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 0;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }

    &__svg {
        border-radius: 50%;
    }

    &__text {
        color: $white;
    }
}

// --------------------- стили слайдера
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px;
    z-index: 1;
}

.swiper-button-next {
    right: 1%;
}

.swiper-button-prev {
    left: 1%;
}

.swiper-button-next,
.swiper-button-prev {
    color: $white;
    top: 50%;
    opacity: 0.8;
    transition: opacity 0.5s;

    @media (max-width: 768px) {
        top: 27%;
    }

    &:focus {
        color: $focus;
    }

    &:hover {
        opacity: 1;

    }

    &:active {
        color: $active;
    }
}

.faq {
    background-color: rgba(255, 246, 230, 0.53);
    background-image: url('../images/faq-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 246, 230, 0.53);
        z-index: -1;
    }


    &__title {
        color: $brown;
        text-align: center;
        font-size: 42px;
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 50, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__accordion {
        user-select: none;
        position: relative;
        padding-right: 10px;
        @include adaptiveValue("margin-bottom", 50, 20);

        @media (max-width: 768px) {
            max-width: 100%;
        }

        @media (max-width: 576px) {
            padding-right: 0;
        }
    }

    &__item {
        padding: 20px 0px;
        cursor: pointer;
        border-bottom: 1px solid rgba(33, 36, 61, 0.2);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        color: $black3;
        font-size: 24px;
        padding-right: 15px;

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    &__box {
        user-select: none;
        position: relative;
        padding-right: 10px;
        width: 14px;
        height: 14px;

        &::before,
        &::after {
            height: 14px;
            width: 2px;
            content: '';
            position: absolute;
            margin: auto;
            background-color: $black;
            transition: all 2s;

            @media (max-width: 576px) {
                height: 18px;
            }
        }

        &::before {
            transform: rotate(270deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    .active .faq__box:after {
        transform: rotate(90deg);
    }

    &__text {
        color: $silver4;
        @include line-height(18, 28, px, );
    }

    &__btn {
        margin: 0 auto;
        max-width: 200px;
        display: flex;
        @include adaptiveValue("padding-bottom", 18, 10);
        @include adaptiveValue("padding-top", 18, 10);
        @include adaptiveValue("padding-left", 30, 10);
        @include adaptiveValue("padding-right", 30, 10);
    }
}

.footer {
    background-image: url('../images/footer-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        background: rgba(255, 255, 255, 0.75);
        z-index: -1;
    }

    &__city {
        color: $black2;
        font-size: 28px;
        font-weight: 700;
        @include adaptiveValue("margin-bottom", 40, 20);

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        @include adaptiveValue("margin-bottom", 45, 20);

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__link {
        font-size: 22px;
        text-decoration: revert;
        margin-bottom: 10px;
        display: block;
        transition: background-color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: $brown;
        font-size: 16px;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__copy {
        color: $brown;
        text-align: center;

        @media (max-width: 768px) {
            text-align: start;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    @include adaptiveValue("margin-bottom", 60, 20);

    @media (max-width: 768px) {
        justify-content: flex-start;
    }

    &__item {
        display: block;
    }

    &__youtube,
    &__link {
        line-height: 0;
        display: block;
        transition: color 0.5s,
            opacity 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }

    &__youtube,
    &__svg {
        border-radius: 50%;
    }

    &__youtube {
        background-color: $red;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4rem);
    transition: opacity 0.5s,
        overflow 0.5s;
    opacity: 0;
    z-index: -300;

    &__inner {
        margin-top: 10%;
        margin-bottom: 10%;
        background-image: url('../images/modal-bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        max-width: 770px;
        padding: 30px 100px 80px 100px;
        z-index: 1;

        @media (max-width: 1200px) {
            padding: 30px 80px;
        }

        @media (max-width: 992px) {
            padding: 30px 60px;
        }

        @media (max-width: 768px) {
            padding: 30px 40px;
        }

        @media (max-width: 576px) {
            padding: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: -1;
        }
    }

    &__btn {
        position: absolute;
        top: 1%;
        right: 5%;

        @media (max-width: 576px) {
            right: 10%;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        width: 25px;
        height: 25px;
        position: relative;

        padding: 0;
        z-index: 10;

        span {
            height: 2px;
            width: 100%;
            background-color: $black;
            transform: scale(0);
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: $black;
        }

        &::before {
            content: '';
            transform: rotate(45deg);
            top: 65%;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 6px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
        text-align: center;
        margin-bottom: 65px;
        @include adaptiveValue("margin-bottom", 65, 20);
        color: $black2;

        @media (max-width: 1200px) {
            font-size: 29px;
        }

        @media (max-width: 992px) {
            font-size: 28px;
        }

        @media (max-width: 768px) {
            font-size: 27px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }
}

.modal-open {
    opacity: 1;
    z-index: 300;
}

.form {
    max-width: 485px;

    &__inner {
        margin-bottom: 20px;
    }

    &__box {
        display: block;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__label {
        color: $silver4;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        display: block;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &--radio,
        &--checkbox {
            display: inline-block;

            &:focus {
                color: $focus;
            }

            &:hover {

                .form__radio,
                .form__checkbox {
                    border: 2px solid $silver4;
                }
            }

            &:active {
                color: $active;
            }
        }
    }

    &__input {
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.29);
        border-top: none;
        border-left: none;
        border-right: none;
        display: block;
        background-color: rgba(33, 36, 61, 0.07);
        width: 480px;
        padding: 13px 20px 13px 20px;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__radio,
    &__checkbox {
        border: 2px solid rgba(93, 94, 106, 0.54);
    }

    &__text {
        color: $silver4;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 15px;
    }

    &__btn {
        color: $white;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        background-color: $green2;
        border: none;
        padding: 15px 26px;
        @include adaptiveValue("padding-left", 26, 20);
        @include adaptiveValue("padding-right", 26, 20);
        transition: background-color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $black3;
        }

        &:active {
            color: $active;
        }
    }
}

// Стили радио кнопок 
.jq-radio.checked .jq-radio__div {
    margin: 2px 0 0 2px;
}

.jq-radio .form__radio {
    color: $silver4;
}

.jq-radio {
    border: 2px solid rgba(93, 94, 106, 0.54);
    transition: color 0.5s;

    &:focus {
        color: $focus;
    }

    &:hover {
        border: 2px solid $silver4;
    }

    &:active {
        color: $active;
    }

}

.jq-radio.checked {
    border: 2px solid $silver4;
}

.jq-radio.checked .jq-radio__div {
    background: $silver4;
    width: 8px;
    height: 8px;
}

.jq-radio .form__radio {
    color: $silver4;
}